* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* followed internetingishard flexbox tutorial */
.menu-bar {
    display: flex;
    justify-content: center;
    background-color: #618bc1;
    color:#fff;
    padding: 20px 0;
}

.menu-text {
    display: flex;
    justify-content: space-around;
    width: 900px;
}

.web-links {
    display: flex;
    justify-content: flex-end;
}

.sign-up {
    margin-left: 20px;
}

#homepage {
    display: flex;
    justify-content: center;
    background-color: #b1bfca;
}

.header {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* for vertical alignment */
}

.last-entry{
    padding-bottom: 5em;
}

.recipe-photo {
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    /* image too large, still need to resize */
}