body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#homepage {
    text-align: center;
}

.last-entry{
    padding-bottom: 5em;
}

.recipe-photo {
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    /* image too large, still need to resize */
}